<%- partial('partials/nav_top')%>
<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="span3">
        <%- partial('partials/nav_side')%>
      </div>
      <div class="span9">
        <h1>Subscriptions</h1>
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>Name</th>
              <th>User</th>
              <th>Updated</th>
              <th>Created</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <% _.each(items, function (subscr) { %>

              <tr>
                <td><%= subscr.name %></td>
                <td><a href='/admin/user/<%= subscr.user.id %>'><%= subscr.user.displayName %></a></td>
                <td class='for-moment'><%= subscr.createdAt %></td>
                <td class='for-moment'><%= subscr.updatedAt %></td>
                <td><a class='btn-small btn btn-primary' href='/admin/subscription/<%= subscr.id %>'>View</a></td>
              </tr>
            <% }) %>  
          </tbody>
        </table>
        <%- partial('partials/pagination')%>

        <!-- Button to trigger modal -->
        <button href="#newSubscription" data-toggle="modal" class='btn-small pull-right btn btn-primary'>New Subscription</button>

        <!-- Modal -->
        <div id="newSubscription" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">Create new Subscription</h3>
          </div>
          <div class="modal-body">
            <form class="form-horizontal">
              <div class="control-group">
                <label class="control-label" for="name">Name</label>
                <div class="controls">
                  <input type="text" id="name" name='name' placeholder="Name of Subscription">
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button class="btn btn-primary submit">Create</button>
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>